menu "TFT Display"

config TFT_INVERT_ROTATION1
    bool "Invert rotation1."
    default n
    help
    If text is backwards on your display, try enabling this.

config TFT_PIN_NUM_RST
    int "GPIO for Reset"
    default 0
    help
    If not using an EXAMPLE display type, configure the reset pin here.

config TFT_DISPLAY_WIDTH
    int "TFT display width in pixels."
    default 240
    help
    The smaller dimension (in portrait).

config TFT_DISPLAY_HEIGHT
    int "TFT display height in pixels."
    default 320
    help
    The smaller dimension (in portrait).

endmenu
